[user]
       email = TODO
       name = TODO
# https://git-scm.com/docs/git-config#_includes
[include]
        path = ~/ws/.gitconfig
; 1. TODO: create this path, file
; [include "gitdir:~/ws/yoinkbird/"]
;         path = ~/ws/yoinkbird/.gitconfig
; 2. TODO: ... configure the email,user
;[user]
;      email = TODO
;      name = TODO
;      [core]
;      # https://stackoverflow.com/questions/31475646/using-git-ssh-command-in-git-for-windows/38474220#38474220
;      sshCommand = ssh -i ~/.ssh/id_ed25519_nameOfKey -o "UseKeychain=yes"


# https://go.dev/doc/faq#git_https
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[diff]
	tool = kdiff3

; https://stackoverflow.com/questions/33722301/how-to-setup-kdiff3-in-mac-os
[difftool "kdiff3"]
        path = /Applications/kdiff3.app/Contents/MacOS/kdiff3

[merge]
	tool = kdiff3
	conflictstyle = diff3
[core]
	autocrlf = false
	editor = vim
	excludesFile = ~/.gitignore
[message]
	template = ~/.gitmessage
[init]
	defaultBranch = main
[rerere]
	enabled = true
